<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>332419944553-btm0dr6ia6oun67eea4cd7200rqi1gp0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.332419944553-btm0dr6ia6oun67eea4cd7200rqi1gp0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>332419944553-v5fjn4mspj9rl2m6s2c5jktrkapprjus.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDy1e39SEoSUtn2zWGzO1rJrWiuG1eGk_I</string>
	<key>GCM_SENDER_ID</key>
	<string>332419944553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swams.keats</string>
	<key>PROJECT_ID</key>
	<string>keats-caa65</string>
	<key>STORAGE_BUCKET</key>
	<string>keats-caa65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332419944553:ios:0689844bbede78f3b0d2f8</string>
</dict>
</plist>